.tableProjet{
    width: 100%;
}

.tableProjet > tr, td {
    padding: 8px;
    border-top: 1px solid #ddd;
    text-align: left;
}

.divListe{
    color: white;
    width: 70%;
}

.divContent{
    display: flex;
    padding-left: 25%;
    width: 60%;
}

.divUpcoming{
    border-left: #ddd 5px solid;
    width: 30%;
    height: inherit;
    margin: 5%;
}

.h2Upcoming{
    margin: 5%;
}